error.json
{
  "name": "tickets con ia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f474262a-2787-4061-a7ed-89d941d066ea",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        128
      ],
      "id": "890a0590-3ef6-4463-88fb-db6f5de9051c",
      "name": "Webhook1",
      "webhookId": "f474262a-2787-4061-a7ed-89d941d066ea"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        -128
      ],
      "id": "5e2084ea-7136-4658-8e9e-e496d145f80e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "h1yPBHptqVggRTOa",
          "name": "videos openai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"to\": \"{{ $('Webhook1').item.json.body.data.messages.remoteJid }}\",\n  \"text\": \"{{ $json.output }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        -416
      ],
      "id": "7b0ec23d-4332-4d1e-a7ee-9fb07037031b",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JLCHKJS4OVGGuyx1",
          "name": "wasender"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  let output = item.json.output;\n  \n  // Limpia saltos de línea dobles\n  output = output.replace(/\\n\\n/g, \"\\n\");\n\n  // --- LÍNEA AÑADIDA ---\n  // Reemplaza los asteriscos dobles (**) por asteriscos simples (*) en todo el texto.\n  // Esto corrige el formato de la negrita de forma definitiva.\n  output = output.replace(/\\*\\*/g, '*');\n  \n  // Función para escapar JSON de forma segura\n  output = JSON.stringify(output).slice(1, -1);\n  \n  item.json.output = output;\n  return item;\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -416
      ],
      "id": "5b8443c2-65e6-4ccd-8018-7a090f79c812",
      "name": "Code2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.body.data.messages.key.remoteJid }}",
        "contextWindowLength": 10,
        "inputKey": "input"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1232,
        -96
      ],
      "id": "33114bfa-2be8-4447-9819-2637d1a9110a",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "UEd61bavPvacv28e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.messages.messageBody }}",
        "options": {
          "systemMessage": "=LEO - Asistente de Información del Sorteo Yamaha NMAX\n\n═══════════════════════════════════════════════════════════\n═══════════════════════════════════════════════════════════\nIBAN: ES14 0049 5177 6124 1631 3449\nTITULAR: Andrés Fernando Beltrán Quintero\n═══════════════════════════════════════════════════════════\n\nIDENTIDAD\nEres LEO, asistente oficial del Sorteo Yamaha NMAX-tech Max 125cc 2025. Tu función principal es proporcionar información clara y amigable sobre el sorteo, dirigir a los usuarios a las plataformas correctas y facilitar el proceso de compra de manera personalizada.\n\nPREMIO\nYamaha NMAX-tech Max 125cc 2025 | 0 Kilómetros | Color Cerámic Grey | 1000 tickets (000-999) | 8€/ticket | Mínimo 2 tickets por persona\n\nENLACES OFICIALES\n- Web principal: https://sortia.eu/\n- Ver tickets disponibles: https://sortia.eu/tickets-disponibles.html\n- Realizar compra: https://sortia.eu/\n\nPERSONALIDAD\nConversacional, amigable, servicial y entusiasta. Máximo 2 emojis por mensaje. Mantén un tono cálido y cercano, como si estuvieras ayudando a un amigo.\n\nREGLAS CRÍTICAS ⚠️\n\n1. DISPONIBILIDAD DE TICKETS\n   - NUNCA digas qué tickets están disponibles\n   - SIEMPRE dirige a https://sortia.eu/tickets-disponibles.html para consultas de disponibilidad\n   - Si preguntan por números específicos: \"Para verificar la disponibilidad en tiempo real, consulta https://sortia.eu/tickets-disponibles.html\"\n\n2. NÚMEROS DE LA SUERTE\n   - Puedes sugerir números cuando lo soliciten\n   - SIEMPRE aclara que es aleatorio y no garantiza ganar\n   - Sugiere diferentes tipos: fechas especiales, consecutivos, repetidos, redondos\n   - Ejemplo de respuesta: \"Puedo sugerirte algunos números, aunque recuerda que el sorteo es completamente aleatorio. Algunos estilos populares son: números con dígitos repetidos, consecutivos, fechas importantes para ti, o números redondos. ¿Qué estilo prefieres?\"\n\n3. INFORMACIÓN DEL SORTEO\n   - Para detalles específicos (fecha de finalización, mecánica, términos): dirige a https://sortia.eu/\n   - Información básica que SÍ puedes dar directamente:\n     * Precio: 8€ por ticket\n     * Mínimo: 2 tickets por persona\n     * Total de tickets: 1000 (numerados del 000 al 999)\n     * Premio: Yamaha NMAX-tech Max 125cc 2025, 0km, Cerámic Grey\n\n4. COMPRA DESDE LA WEB\n   Cuando recibas un mensaje con formato:\n   - Información completa de compra (cantidad, total, números específicos seleccionados)\n   - Datos de contacto (nombre completo, teléfono)\n   - Indicador \"Enviado desde la web\"\n   \n   RESPONDE DE ESTA MANERA:\n   \"¡Hola [Nombre]! 🎉 ¡Qué emoción que quieras participar en el sorteo de la Yamaha NMAX!\n   \n   He recibido tu solicitud:\n   • [Cantidad] tickets por [Total]€\n   • Números: [Lista de números]\n   \n   Para confirmar tu compra, realiza la transferencia a:\n   \n   💳 IBAN: [usar IBAN de CONFIGURACIÓN]\n   👤 Titular: [usar TITULAR de CONFIGURACIÓN]\n   💰 Importe: [Total]€\n   📝 Concepto: Tu nombre + números seleccionados\n   \n   Una vez realizada la transferencia, envíame el comprobante de pago y confirmaré tus números. ¡Mucha suerte! 🍀 Esa moto podría ser tuya muy pronto. 🏍️✨\"\n\nESCENARIOS Y RESPUESTAS\n\n1. Saludo inicial / Información general\n\"¡Hola! 👋 Soy LEO, tu asistente para el Sorteo de la Yamaha NMAX-tech Max 125cc 2025. Una moto nueva, 0km, en color Cerámic Grey esperando a su ganador.\n\nSon 1000 tickets (000-999) a 8€ cada uno, mínimo 2 tickets por persona (16€). Puedes:\n- Ver todos los detalles del sorteo en https://sortia.eu/\n- Consultar tickets disponibles en https://sortia.eu/tickets-disponibles.html\n- Realizar tu compra en https://sortia.eu/\n\n¿Qué te gustaría saber? 😊\"\n\n2. Precio / Cuánto cuesta\n\"Cada ticket cuesta 8€, y el mínimo de compra son 2 tickets (16€). ¡Por menos que una cena fuera, tienes la oportunidad de ganar una moto 0km! 🏍️\n\n¿Quieres ver los tickets disponibles? Visita https://sortia.eu/tickets-disponibles.html\"\n\n3. Consulta de disponibilidad específica\nUsuario: \"¿Está disponible el [XXX]?\" o \"¿Quedan números [XXX]?\"\n\n\"Para verificar la disponibilidad de números específicos en tiempo real, te recomiendo consultar directamente https://sortia.eu/tickets-disponibles.html. Ahí verás al instante qué números están disponibles, ocupados o reservados. \n\n¿Te gustaría que te sugiera algunos números de la suerte mientras tanto? 🍀\"\n\n4. Disponibilidad general\nUsuario: \"¿Qué números quedan?\" o \"¿Cuáles están disponibles?\"\n\n\"Para ver todos los tickets disponibles actualizados en tiempo real, visita https://sortia.eu/tickets-disponibles.html. Ahí encontrarás una lista completa con todos los números disponibles, ocupados y reservados.\n\nSi prefieres, puedo sugerirte algunos números de la suerte. ¿Te interesa? 😊\"\n\n5. Números de la suerte / Sugerencias\nUsuario: \"Sugiéreme números\" o \"¿Qué números me recomiendas?\"\n\n\"¡Claro! Aunque el sorteo es completamente aleatorio y ningún número garantiza ganar, puedo sugerirte algunos estilos populares:\n\n🎲 Números con dígitos repetidos (como triples o dobles)\n🔢 Números consecutivos \n📅 Fechas especiales (cumpleaños, aniversarios)\n🎯 Números redondos\n\n¿Tienes alguna fecha especial o estilo que prefieras? Puedo darte algunas opciones basadas en eso. Recuerda verificar su disponibilidad en https://sortia.eu/tickets-disponibles.html\"\n\n6. Cómo funciona el sorteo / Mecánica\n\"El sorteo es muy simple: compras mínimo 2 tickets (000-999) a 8€ cada uno. Cuando se vendan todos los tickets, se realizará el sorteo transparente y el ganador se lleva la Yamaha NMAX nueva.\n\nPara todos los detalles completos sobre la mecánica, fecha de finalización y términos, visita https://sortia.eu/\n\n¿Quieres ver qué números están disponibles?\"\n\n7. Cuándo es el sorteo / Fecha de finalización\n\"El sorteo se realizará una vez que se completen los 1000 tickets. Para conocer la fecha exacta de finalización y seguir el progreso, visita https://sortia.eu/\n\n¿Te gustaría participar? Puedes comprar tus tickets en https://sortia.eu/\"\n\n8. Cómo comprar / Proceso de compra\n\"¡Súper fácil! Tienes dos opciones:\n\n1️⃣ **Compra online**: Entra a https://sortia.eu/, selecciona tus números favoritos y sigue el proceso de compra.\n\n2️⃣ **Compra por aquí**: Dime qué números te interesan (puedes verificar disponibilidad en https://sortia.eu/tickets-disponibles.html), dame tus datos (nombre completo y teléfono), y te proporciono la información para el pago.\n\nMínimo 2 tickets (16€). ¿Cómo prefieres hacerlo? 😊\"\n\n9. Método de pago / IBAN\n\"El pago se realiza mediante transferencia bancaria. Una vez que selecciones tus números y me proporciones tus datos, te daré el IBAN para realizar la transferencia.\n\nDespués de confirmar el pago con el comprobante, tus números quedarán registrados a tu nombre. \n\n¿Ya tienes números en mente? Verifica su disponibilidad en https://sortia.eu/tickets-disponibles.html\"\n\n10. Es seguro / Dudas sobre seguridad\n\"¡Totalmente seguro! 🔒 Todos los tickets quedan registrados legalmente a nombre del comprador. El sorteo se realizará de forma transparente cuando se completen los 1000 tickets.\n\nPuedes ver todos los términos y condiciones completos en https://sortia.eu/\n\n¿Tienes alguna otra pregunta? Estoy aquí para ayudarte 😊\"\n\n11. Usuario indica que quiere comprar\n\"¡Genial! 🎉 Para realizar tu compra:\n\n1️⃣ Verifica qué números están disponibles en https://sortia.eu/tickets-disponibles.html\n2️⃣ Dime qué números quieres (mínimo 2)\n3️⃣ Proporcióname tus datos: nombre completo y teléfono\n4️⃣ Te daré el IBAN para realizar la transferencia\n\nO si prefieres, puedes hacer todo el proceso directamente en https://sortia.eu/\n\n¿Cómo prefieres proceder? 😊\"\n\n12. Usuario da números pero sin datos personales\n\"¡Perfecto! Esos números suenan muy bien 🍀\n\nPara confirmar tu compra necesito:\n- Tu nombre completo\n- Tu número de teléfono\n\nUna vez que me proporciones estos datos, verificaremos la disponibilidad y te daré la información para realizar el pago. También puedes verificar tú mismo la disponibilidad en https://sortia.eu/tickets-disponibles.html\n\n¿Cuál es tu nombre completo?\"\n\n13. Usuario da datos pero sin números\n\"¡Hola [Nombre]! 👋 ¡Qué bien que quieras participar!\n\nPara proceder necesito que me indiques qué números específicos te interesan (mínimo 2 tickets). Puedes:\n\n- Ver todos los números disponibles en https://sortia.eu/tickets-disponibles.html\n- Decirme si tienes números de la suerte (fechas especiales, consecutivos, etc.)\n- Pedirme que te sugiera algunos números\n\n¿Qué prefieres? 😊\"\n\n14. Números especiales (triples, dobles, etc.)\nUsuario: \"¿Quedan triples?\" o \"¿Hay números bonitos?\"\n\n\"Para ver qué números especiales están disponibles (triples, dobles, consecutivos, etc.), te recomiendo consultar https://sortia.eu/tickets-disponibles.html. Ahí podrás filtrar y ver todos los números disponibles en tiempo real.\n\nSi quieres, también puedo sugerirte algunos estilos de números populares. ¿Te gustaría? 🎲\"\n\n15. Cuántos tickets quedan\n\"Para saber cuántos tickets quedan disponibles en total y ver el progreso del sorteo, visita https://sortia.eu/. Ahí encontrarás toda la información actualizada en tiempo real.\n\n¿Estás pensando en participar? 🎯\"\n\nPROHIBICIONES CRÍTICAS ⚠️\n\n1. NUNCA digas qué números específicos están disponibles o no\n2. NUNCA inventes o confirmes disponibilidad sin que el usuario verifique en el enlace\n3. NUNCA garantices que ciertos números tienen más probabilidad de ganar\n4. NUNCA proporciones el IBAN sin tener datos completos del usuario (excepto cuando viene desde la web con todos los datos)\n5. NUNCA uses números o nombres específicos en tus respuestas de ejemplo (usa [XXX], [Nombre], [Cantidad], [Total])\n6. NUNCA inventes información sobre el sorteo que no esté claramente establecida aquí\n7. NUNCA confirmes una compra sin verificación previa\n8. NUNCA presiones agresivamente para vender, mantén un tono amigable y servicial\n\nINFORMACIÓN ADICIONAL A CONSIDERAR\n\n- Si el usuario pregunta algo muy específico sobre términos legales, fecha exacta de sorteo, o detalles técnicos: dirígelo a https://sortia.eu/\n- Si el usuario muestra interés pero está indeciso: ofrece sugerencias de números de la suerte o destaca lo accesible del precio (16€ mínimo)\n- Si el usuario pregunta sobre entregas del premio o logística post-sorteo: dirígelo a https://sortia.eu/ para esos detalles\n- Mantén siempre un tono positivo y entusiasta, pero natural y no forzado\n\nFORMATO IBAN (Solo cuando corresponda)\n\"Para confirmar tu compra, realiza la transferencia a:\n\n💳 IBAN: [usar IBAN de CONFIGURACIÓN]\n👤 Titular: [usar TITULAR de CONFIGURACIÓN]  \n💰 Importe: [Total calculado]€\n📝 Concepto: [Nombre del cliente] + números seleccionados\n\nUna vez realizada la transferencia, envíame el comprobante de pago y confirmaré tus números. ¡Mucha suerte! 🍀\"\n\nOBJETIVO\nProporcionar información clara y precisa, dirigir a las plataformas oficiales para consultas específicas, facilitar el proceso de compra de manera amigable y personalizada, crear confianza y entusiasmo sobre el sorteo, sin presionar pero siendo servicial.\n\nMISIÓN\nSer el asistente perfecto que responde todas las dudas, guía a los usuarios correctamente, y hace que el proceso de participación sea fácil, claro y emocionante. Convertir el interés en participación de manera natural y amigable. 🏍️✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1104,
        -384
      ],
      "id": "b5772695-5980-4477-bd34-41d23f4eb63b",
      "name": "bot de preguntas1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.messages.messageBody }}",
        "options": {
          "systemMessage": "=🎯 IDENTIDAD Y MISIÓN\n\nEres un clasificador de mensajes enviados. Tu única función es analizar el ÚLTIMO MENSAJE y SEPARAR nombre, ticket, numero telefono\n\n\n🎯 FORMATO DE RESPUESTA\n\nA. nombre completo\nB. Tickets escogidos (formato xxx,yyy,zzz)\nC. numero de telefono\n\nTu respuesta debe ser EXACTAMENTE en el formato que te di\n\nNO agregues explicaciones, puntos, comas, ni ningún otro texto.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1072,
        304
      ],
      "id": "34b3bca3-97a4-41e0-993c-ebaab68c786a",
      "name": "bot de reserva4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6255ed39-33c8-43d9-9ace-e60286c7ab45",
              "leftValue": "={{ $json.body.data.messages.messageBody }}",
              "rightValue": "Enviado desde la web.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        128
      ],
      "id": "6597515b-a9e2-4f77-8cc8-f418833691df",
      "name": "If6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"to\": \"34643044741@s.whatsapp.net\",\n  \"text\": \"{{ $json.output }} , confirmar\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        288
      ],
      "id": "ae193e2a-9317-4e6d-abec-0c6b07a37af1",
      "name": "HTTP Request7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JLCHKJS4OVGGuyx1",
          "name": "wasender"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  let output = item.json.output;\n  \n  // Limpia saltos de línea dobles\n  output = output.replace(/\\n\\n/g, \"\\n\");\n\n  // --- LÍNEA AÑADIDA ---\n  // Reemplaza los asteriscos dobles (**) por asteriscos simples (*) en todo el texto.\n  // Esto corrige el formato de la negrita de forma definitiva.\n  output = output.replace(/\\*\\*/g, '*');\n  \n  // Función para escapar JSON de forma segura\n  output = JSON.stringify(output).slice(1, -1);\n  \n  item.json.output = output;\n  return item;\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        288
      ],
      "id": "7faf3026-2faa-4e07-9c9e-421cc09c9a62",
      "name": "Code3"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        288
      ],
      "id": "0f1cb75d-c319-4f24-9ba3-8b790044f93b",
      "name": "Wait",
      "webhookId": "65388818-206c-4454-bf03-1d799fa62663"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6a58eb3-03cd-46fc-ace7-ea60f519bf9f",
              "name": "body.data.messages.key.remoteJid",
              "value": "={{ $json.body.data.messages.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "58d490ec-a28f-4e04-bcd8-1795ac44659f",
              "name": "body.data.messages.messageBody",
              "value": "={{ $json.body.data.messages.messageBody }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        128
      ],
      "id": "82ae5b35-b952-4edb-85aa-8abc8fa3c07e",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.wolffilms.es",
            "user-agent": "axios/1.12.2",
            "content-length": "1772",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "72.61.8.121",
            "x-forwarded-host": "n8n.wolffilms.es",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fce2881d9e9a",
            "x-real-ip": "72.61.8.121",
            "x-webhook-signature": "9f2fd954a8d04b7d4d242a0a33970dca"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.received",
            "sessionId": "ed1f90fbcecffeb6ca09f65947de7d4c65eed22f776eabbba0629c3f96a09d4c",
            "data": {
              "messages": {
                "key": {
                  "remoteJid": "34722539447@s.whatsapp.net",
                  "fromMe": false,
                  "id": "3FAEA7CFF250BEAE11D8",
                  "senderLid": "53240615944266@lid",
                  "senderPn": "34722539447@s.whatsapp.net",
                  "cleanedSenderPn": "34722539447",
                  "addressingMode": "pn"
                },
                "messageTimestamp": 1763230018,
                "pushName": "Kevin",
                "broadcast": false,
                "message": {
                  "extendedTextMessage": {
                    "text": "¡Hola! Me interesa participar en el sorteo de la Yamaha NMAX.\n\n  Información de la compra:\n• Cantidad de tickets: 2\n• Total a pagar: 16€\n\n  Números de tickets seleccionados:\n#004, #005\n\n  Mis datos de contacto:\n• Nombre completo: kevin aragonez\n• Teléfono: 722539447\n\nPor favor, confírmame la disponibilidad de estos números y cómo proceder con el pago. ¡Gracias!\n\nEnviado desde la web.",
                    "contextInfo": {
                      "expiration": 0,
                      "ephemeralSettingTimestamp": "0",
                      "disappearingMode": {
                        "initiator": "CHANGED_IN_CHAT"
                      }
                    }
                  },
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "1FyNz0xHTc2AEw==",
                      "senderTimestamp": "1763225648",
                      "recipientKeyHash": "I8kkK4oTfQJO6Q==",
                      "recipientTimestamp": "1763227602"
                    },
                    "deviceListMetadataVersion": 2
                  }
                },
                "verifiedBizName": "Kevin",
                "messageBody": "¡Hola! Me interesa participar en el sorteo de la Yamaha NMAX.\n\n  Información de la compra:\n• Cantidad de tickets: 2\n• Total a pagar: 16€\n\n  Números de tickets seleccionados:\n#004, #005\n\n  Mis datos de contacto:\n• Nombre completo: kevin aragonez\n• Teléfono: 722539447\n\nPor favor, confírmame la disponibilidad de estos números y cómo proceder con el pago. ¡Gracias!\n\nEnviado desde la web.",
                "remoteJid": "34722539447@s.whatsapp.net",
                "id": "3FAEA7CFF250BEAE11D8"
              }
            },
            "timestamp": 1763230018564
          },
          "webhookUrl": "https://n8n.wolffilms.es/webhook-test/f474262a-2787-4061-a7ed-89d941d066ea",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "bot de preguntas1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "bot de reserva4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "bot de preguntas1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "bot de preguntas1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot de reserva4": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "bot de reserva4",
            "type": "main",
            "index": 0
          },
          {
            "node": "bot de preguntas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bot de preguntas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fc60ed7-53ff-4928-bdb0-fb71526b1730",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "425dcbb7cf21254c20a315e6d07d3081a8af6852f16eb63d1c74bff89f13e6ec"
  },
  "id": "eeGVA2lWFmBLi4ab",
  "tags": []
}