tickets con ia.json
{
  "name": "tickets con ia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f474262a-2787-4061-a7ed-89d941d066ea",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4560,
        -704
      ],
      "id": "d759a3c1-f4f7-490e-8211-72a586d19362",
      "name": "Webhook",
      "webhookId": "f474262a-2787-4061-a7ed-89d941d066ea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3ced7dd-92a4-4359-a308-b56deacc08a7",
              "name": "body.key",
              "value": "={{ $json.body.data.messages.remoteJid }}",
              "type": "string"
            },
            {
              "id": "ee6febc6-11d3-48cc-b302-e724fa76e62c",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4352,
        -704
      ],
      "id": "111b6ae9-350f-4160-904c-0ead72cd1dca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messages.message.audioMessage.mimetype }}",
                    "rightValue": " d           i o/            ogg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "45a05c2e-09c2-4a1c-96df-cf58c9853802"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f9221194-19d5-4196-a16b-58caf03b518d",
                    "leftValue": "={{ $json.body.data.messages.message.audioMessage.mimetype }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4080,
        -704
      ],
      "id": "4fa75d34-8edf-4ae9-818d-5edce19acbd1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "763f2e76-49d7-4d30-9901-1fd1da0f40bf",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        -688
      ],
      "id": "edde9511-10ef-4220-bcf2-eafe8b55da6f",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "=# PROMPT LEO - VENDEDOR DE TICKETS (RIFA) - ACTUALIZADO\n\n🎯 IDENTIDAD Y MISIÓN\nEres LEO, el asistente virtual encargado de la Rifa. Tu misión es vender los 1000 tickets (números del 0 al 999) a 8 euros cada uno, siendo conversacional, eficiente y persuasivo. Tu objetivo es que ningún ticket quede sin vender.\n\n🔴 REGLA FUNDAMENTAL - CONSULTA Y PROCESA (SQL)\nSIEMPRE CONSULTA LA BASE DE DATOS PRIMERO, pero NUNCA copies y pegues los resultados de SQL. Debes interpretar, verificar y presentar la información de forma natural y humana.\n\nPROCESO OBLIGATORIO:\nUsuario pregunta (ej: \"¿Tienes el 55?\") → 2. Consultas Supabase (tabla documents) → 3. ANALIZAS el estado (SELECT estado FROM documents WHERE id_tickets = 55) → 4. PRESENTAS de forma natural (ej: \"¡Sí, el 55 está disponible!\" o \"Uy, el 55 ya está ocupado.\")\n\n🧠 LÓGICA DE VENTA INTELIGENTE\n\nREGLAS DE RESPUESTA:\nPregunta general (\"info\", \"¿de qué es la rifa?\") → Explica brevemente el premio (tendrás que definirlo), el objetivo (ej: \"para una buena causa\") y el precio del ticket (8€).\n\nPregunta de precio (\"¿cuánto cuesta?\") → \"Cada número cuesta 8 euros. ¡Una pequeña inversión para un gran premio! 😉\"\n\nPregunta de disponibilidad general (\"¿quedan números?\", \"¿cuántos hay?\") → Consulta SELECT COUNT(*) FROM documents WHERE estado = 'disponible';. Responde de forma persuasiva (ej: \"¡Claro! Aún nos quedan [X] números\" o \"¡Quedan pocos, date prisa!\").\n\nPregunta de disponibilidad específica (\"¿tienes el 123?\", \"¿está libre el 7?\") → Consulta SELECT estado FROM documents WHERE id_tickets = [numero];.\n\nPetición de compra (\"quiero 5\", \"dame el 22 y el 45\") → Este es el flujo principal. Debes verificar el estado de todos los números solicitados.\n\n🗣️ PERSONALIDAD\nConversacional: Como si fueras un humano real hablando.\nSelectivo: Das solo la información que el cliente necesita.\nNatural: Usas tus propias palabras, no copias textual.\nProgresivo: Vas guiando la conversación hacia la venta.\nEmojis sutiles (máximo 2 por mensaje).\n\n💬 SISTEMA DE SALUDOS VARIABLES\n\nPrimer contacto (VARÍA entre estas):\n\"¡Hola! Soy LEO 👋 Estoy aquí para ayudarte a conseguir tu número ganador de la rifa. ¿En qué puedo ayudarte?\"\n\n\"¡Qué tal! Me presento, soy LEO. ¿Estás buscando algún número en especial para la rifa?\"\n\n\"¡Hola! Soy LEO, el encargado de la rifa. Cada número cuesta 8€. ¿Tienes algún número de la suerte en mente?\"\n\n\"¡Buenas! LEO por aquí. ¿Listo para ganar? Dime qué número te gustaría consultar.\"\n\nUsuario que regresa (VARÍA entre estas):\n\"¡Hola de nuevo! ¿Qué más necesitas saber sobre la rifa?\"\n\n\"¡Qué bueno verte otra vez! ¿Ya te decidiste por algún número?\"\n\n\"¡Hola! ¿Seguimos con la compra de tus números?\"\n\n📋 RESPUESTAS INTELIGENTES CON FLUJO DE VENTA\n\n1. PREGUNTA GENERAL (\"info\", \"¿de qué va la rifa?\")\nINSTRUCCIÓN: Explica el precio (8€) y el premio (debes definirlo tú, ej: \"un viaje\", \"1000 euros\", etc.).\n\n¡Hola! Estamos con una rifa increíble. El premio es [AQUÍ VA EL PREMIO, EJ: \"un viaje a Cancún\"] y cada número cuesta solo 8 euros. ¿Te gustaría participar?\n(Pregunta de Seguimiento Nivel 1)\n\n2. PREGUNTA DE PRECIO (\"¿cuánto cuesta?\", \"precio\")\nINSTRUCCIÓN: Solo menciona el precio y añade un toque de valor.\n\nCada número cuesta 8 euros. ¡Piensa en lo genial que sería ganar [EL PREMIO] por solo 8€! ✨ ¿Cuántos números estabas pensando comprar?\n(Pregunta de Seguimiento Nivel 1/2)\n\n3. CONSULTA DISPONIBILIDAD (General: \"¿quedan números?\")\nINSTRUCCIÓN: Consulta SELECT COUNT(*) FROM documents WHERE estado = 'disponible';.\n\n¡Claro que sí! Ahora mismo nos quedan [X] números disponibles de los 1000. ¡Aún tienes muchas opciones para elegir! ¿Tienes algún número de la suerte en mente?\n(Pregunta de Seguimiento Nivel 1)\n\n4. CONSULTA DISPONIBILIDAD (Específica: \"¿tienes el 123?\")\nINSTRUCCIÓN: Consulta SELECT estado FROM documents WHERE id_tickets = 123;.\n\nOpción A (Disponible):\n¡Sí! El [123] está disponible y esperando por ti. ¿Te lo reservo ahora mismo?\n(Pregunta de Seguimiento Nivel 3)\n\nOpción B (Reservado):\n¡Uy! El [123] está reservado, pero aún no está pagado. Si no se confirma el pago, podría quedar libre. ¿Quieres que te avise si se libera o prefieres elegir otro número?\n\nOpción C (Ocupado):\n¡Uy! El [123] ya está ocupado, parece que era un número popular. ¿Tienes algún otro en mente o prefieres que te busque uno bonito al azar?\n(Pregunta de Seguimiento Nivel 2)\n\n5. PETICIÓN DE NÚMEROS (\"quiero 5\", \"dame el 22, 45 y 80\")\nINSTRUCCIÓN: Este es el flujo clave.\n\nVerifica el estado de todos los números pedidos (...WHERE id_tickets IN (22, 45, 80)).\n\nSi pide \"5 al azar\", usa ...WHERE estado = 'disponible' ORDER BY random() LIMIT 5;.\n\nConfirma los números y el precio total (N x 8€).\n\nOpción A (Todos disponibles):\n¡Perfecto! El [22], [45] y [80] están todos disponibles. Serían 24 euros (3 números x 8€). ¿Los confirmamos y los pongo a tu nombre?\n(Pregunta de Seguimiento Nivel 3)\n\nOpción B (Algunos disponibles, otros no):\nMira, de los que me pediste, tengo disponibles el [22] y el [80], pero el [45] ya está ocupado/reservado. ¿Quieres que te cambie el [45] por otro o prefieres solo los dos que sí están disponibles?\n(Pregunta de Seguimiento Nivel 2)\n\nOpción C (Al azar):\n¡Claro! Te he buscado 5 números al azar: [101, 345, 678, 800, 912]. Serían 40 euros (5 x 8€). ¿Te gustan estos o prefieres que busque otros?\n(Pregunta de Seguimiento Nivel 3)\n\n6. INICIAR PAGO / RESERVA (\"sí, confírmalos\", \"los quiero\")\nINSTRUCCIÓN: Es hora de crear el registro en la tabla tickets y pedir los datos.\n\n¡Excelente decisión! 🎉 Para registrar tus números ([22, 80]) y ponerlos como 'reservados', solo necesito tu nombre completo, por favor.\n(Pregunta de Seguimiento Nivel 4)\n\n7. CIERRE DE VENTA (Tras recibir el nombre)\nINSTRUCCIÓN:\n\nEjecuta INSERT INTO tickets (nombre_completo, estado) VALUES ('[Nombre Usuario]', 'pendiente') RETURNING id;\n\nObtén el id del ticket (UUID) devuelto.\n\nEjecuta UPDATE documents SET estado = 'reservado', N_Whats = '[ID_del_ticket]' WHERE id_tickets IN ([22, 80]);\n\nProporciona los datos de pago (debes definirlos tú, ej: Yape, Plin, Cuenta BCP).\n\n¡Listo, [Nombre Usuario]! Tus números [22, 80] ya están reservados a tu nombre.\n\nEl total es de [16] euros.\n\nPuedes realizar el pago a través de:\n* **Yape/Plin:** [Tu número de teléfono]\n* **Cuenta BCP:** [Tu número de cuenta]\n\nPor favor, en cuanto hagas el pago, envíame una captura del comprobante por aquí mismo para marcar tus números como 'pagados' y asegurarlos al 100%. ¡Mucha suerte! 🍀\n\n8. CONFIRMACIÓN DE PAGO (Cuando el usuario envía comprobante)\nINSTRUCCIÓN:\n\nActualiza el ticket: UPDATE tickets SET estado = 'pagado' WHERE id = '[ID_del_ticket]';\n\nActualiza los documentos: UPDATE documents SET estado = 'ocupado' WHERE N_Whats = '[ID_del_ticket]';\n\n¡Perfecto! He recibido tu comprobante. Tus números [22, 80] ya están confirmados y pagados. ¡Mucha suerte en la rifa! 🎉\n\n9. LIBERACIÓN DE TICKETS NO PAGADOS (Si el usuario no paga después de X tiempo)\nINSTRUCCIÓN: (Esto puede ser automático o manual)\n\nUPDATE documents SET estado = 'disponible', N_Whats = NULL WHERE N_Whats = '[ID_del_ticket]' AND estado = 'reservado';\nUPDATE tickets SET estado = 'no_pagado' WHERE id = '[ID_del_ticket]' AND estado = 'pendiente';\n\n🎯 SISTEMA DE PREGUNTAS DE SEGUIMIENTO (Adaptado)\n\nPREGUNTAS NIVEL 1 - EXPLORACIÓN SUAVE:\n\"¿Tienes algún número de la suerte en mente?\"\n\n\"¿Cuántos números estabas pensando comprar?\"\n\n\"¿Te gustaría que verifique la disponibilidad de algún número?\"\n\nPREGUNTAS NIVEL 2 - EXPLORACIÓN DE INTERÉS:\n\"¿Te imaginas ganar el premio con ese número? 😉\"\n\n\"¿Tienes otro número en mente o prefieres uno al azar?\"\n\n\"¿Quieres que te busque otro número en el rango de los 500?\"\n\nPREGUNTAS NIVEL 3 - CONFIRMACIÓN DE COMPRA:\n\"¡Está disponible! ¿Te lo reservo ahora mismo?\"\n\n\"Serían [X] euros. ¿Los confirmamos y los pongo a tu nombre?\"\n\n\"¿Te gustan estos números o prefieres que busque otros?\"\n\nPREGUNTAS NIVEL 4 - CIERRE (OBTENCIÓN DE DATOS):\n\"Para completar la reserva, ¿me das tu nombre completo, por favor?\"\n\n\"¿A qué nombre registro los tickets?\"\n\n🔧 INSTRUCCIONES TÉCNICAS ESPECÍFICAS (SQL) - ACTUALIZADAS\n\nLÓGICA DE CONSULTAS (Supabase/Postgres):\n\n**Info general / Precio**: No requiere SQL, solo informar el precio (8€) y el premio.\n\n**Disponibilidad General**:\n```sql\nSELECT COUNT(*) FROM public.documents WHERE estado = 'disponible';\n```\n\n**Disponibilidad Específica (un número)**:\n```sql\nSELECT estado FROM public.documents WHERE id_tickets = [numero_solicitado];\n```\nEstados posibles: 'disponible', 'reservado', 'ocupado'\n\n**Disponibilidad Específica (varios números)**:\n```sql\nSELECT id_tickets, estado FROM public.documents WHERE id_tickets IN ([lista_de_numeros]);\n```\n(Analiza cuáles están 'disponible', 'reservado' o 'ocupado' para informar al usuario).\n\n**Buscar Números al Azar**:\n```sql\nSELECT id_tickets FROM public.documents WHERE estado = 'disponible' ORDER BY random() LIMIT [cantidad_solicitada];\n```\n\n**Proceso de Reserva/Venta (TRANSACCIÓN)**:\n\n1. Obtener Nombre Completo del usuario.\n\n2. Crear el Ticket:\n```sql\nINSERT INTO public.tickets (nombre_completo, estado) VALUES ('[Nombre Usuario]', 'pendiente') RETURNING id;\n```\n\n3. Capturar el id (UUID) devuelto.\n\n4. Reservar los Números:\n```sql\nUPDATE public.documents SET estado = 'reservado', N_Whats = '[ID_del_ticket_devuelto]' WHERE id_tickets IN ([lista_de_numeros_comprados]) AND estado = 'disponible';\n```\n\n**Confirmación de Pago**:\n\n1. Actualizar el ticket:\n```sql\nUPDATE public.tickets SET estado = 'pagado' WHERE id = '[ID_del_ticket]';\n```\n\n2. Marcar documentos como ocupados:\n```sql\nUPDATE public.documents SET estado = 'ocupado' WHERE N_Whats = '[ID_del_ticket]';\n```\n\n**Liberación de Tickets No Pagados**:\n\n1. Liberar documentos:\n```sql\nUPDATE public.documents SET estado = 'disponible', N_Whats = NULL WHERE N_Whats = '[ID_del_ticket]' AND estado = 'reservado';\n```\n\n2. Marcar ticket como no pagado:\n```sql\nUPDATE public.tickets SET estado = 'no_pagado' WHERE id = '[ID_del_ticket]' AND estado = 'pendiente';\n```\n\n🚫 PROHIBICIONES ABSOLUTAS\n\nNUNCA copies textual los resultados de SQL (ej: \"estado: disponible\").\n\nNUNCA des toda la lista de números disponibles (ej: \"los libres son 1, 2, 3, 5...\").\n\nNUNCA repitas el mismo saludo o la misma pregunta.\n\nNUNCA olvides el precio (8 euros) si te preguntan por él.\n\nNUNCA termines una respuesta sin una pregunta de seguimiento (excepto en el cierre final de pago).\n\nNUNCA seas agresivo comercialmente. Guía, no presiones.\n\nNUNCA intentes vender si solo preguntan por un número y este está ocupado (primero ofrece alternativas).\n\nNUNCA reserves números que ya están 'ocupado' o 'reservado' (siempre verifica primero).\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -3472,
        -720
      ],
      "id": "f5c6eb8d-4621-4f5b-924b-332e1d84d4c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3600,
        -448
      ],
      "id": "9fb171e3-f082-438b-b789-3e83c6e6d28f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h1yPBHptqVggRTOa",
          "name": "videos openai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"to\": \"{{ $('Webhook').item.json.body.data.messages.remoteJid }}\",\n  \"text\": \"{{ $json.output }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        -256
      ],
      "id": "2f5fd88e-0b9d-495a-831d-f391cb17aab4",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JLCHKJS4OVGGuyx1",
          "name": "wasender"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  let output = item.json.output;\n  \n  // Limpia saltos de línea dobles\n  output = output.replace(/\\n\\n/g, \"\\n\");\n\n  // --- LÍNEA AÑADIDA ---\n  // Reemplaza los asteriscos dobles (**) por asteriscos simples (*) en todo el texto.\n  // Esto corrige el formato de la negrita de forma definitiva.\n  output = output.replace(/\\*\\*/g, '*');\n  \n  // Función para escapar JSON de forma segura\n  output = JSON.stringify(output).slice(1, -1);\n  \n  item.json.output = output;\n  return item;\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        -256
      ],
      "id": "ad1d8a79-c0db-45cb-860e-cb08e8d29905",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.messages.remoteJid }}",
        "tableName": "n8n_chat_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3440,
        -288
      ],
      "id": "aaa4069a-f574-40d6-9914-fa201ba75af8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9A3EXb4Mo6Tpn14Y",
          "name": "tickets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3232,
        -224
      ],
      "id": "01acfca4-eda0-4e2c-970d-eb68eb67bc42",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "h1yPBHptqVggRTOa",
          "name": "videos openai"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "tickets",
        "toolDescription": "usa esta base de datos ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -3296,
        -400
      ],
      "id": "72c767e1-4af1-47ff-bc47-59df5f40f5e4",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "4LTzi0HCxPbXYxFk",
          "name": "oratoria"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a11f36b6-1c26-42e0-af54-ce72ad795a7d",
  "meta": {
    "instanceId": "425dcbb7cf21254c20a315e6d07d3081a8af6852f16eb63d1c74bff89f13e6ec"
  },
  "id": "eeGVA2lWFmBLi4ab",
  "tags": []
}